/* Write your CSS here */
.cart-summary-heading {
  color: #3e4c59;
  font-size: 30px;
  font-family: 'Roboto';
}

.cart-summary {
  font-family: 'Roboto';
  font-size: 20px;
}
.checkout-btn {
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(27, 138, 248);
  padding: 8px 12px;
  border-radius: 4px;
}
